.el-input__inner, .el-input.is-active .el-input__inner, .el-input__inner:focus, .el-textarea__inner, .el-textarea__inner:focus {
    height: 53PX;
    font-weight: 300;
    font-size: 16PX;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.el-form-item__content {
    margin-left: 0 !important;
}

.name {
    width: 300PX;
}

.tp {
    padding-top: 40PX;
}

.submitForm {
    margin-top: 50PX;
    color: #ffffff;
    border: 2PX solid #ffffff;
    border-radius: 100PX;
    font-size: 16PX;
    width: 182PX;
    height: 49PX;
    background: transparent;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        background: #ffffff;
        color: #2334D8;
        border-color: #ffffff;
    }
    .el-icon-right{
        font-size: 22PX;
        margin-left: 10PX;
        font-weight: bold;
    }
}
.el-form-item__error{
    font-size: 14PX;
}
